@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$bg: #eeeeee;
$bg-accent: #ffffff;

$text: #2a2a42;

body {
  height: 100vh;
  margin: 0;
  display: grid;
  justify-content: center;
  background: ($bg);
  font-family: "Roboto Mono", monospace;
  color: ($text);
}

main {
  $padding: 20px;
  padding: ($padding);
  border-radius: 20px;
  width: clamp(300px - 2 * ($padding), 80vw, 500px - 2 * ($padding));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  $padding: 20px;
  background-color: ($bg-accent);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  width: clamp(300px, 80vw, 500px);
  display: grid;
  grid-template: 50px 1fr / 1fr;
}
.card header {
  border-bottom: 1px solid $text;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  font-weight: bold;
  font-size: 12pt;
}

.input-container {
  display: grid;
  grid-template: 1fr / minmax(80px, 100%) 60px 60px;
  margin-top: 10px;
  align-items: center;
  row-gap: 5px;
  position: relative;
  min-height: 60px;
  margin: 10px 20px;
}

.input-container input {
  padding: 10px 20px;
  outline: none;
  border: 1px solid lightgray;
  font-size: 11pt;
  border-radius: 3px;
  min-width: 80px;
  font-family: unset;
}

.input-container button {
  border: none;
  background: none;
  color: unset;
  outline: none;
  padding: 0;
}

.input-container label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.strength-indicator {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.strength-indicator .strength-bar {
  height: 5px;
  border-radius: 2.5px;
  width: 100%;
  background-color: #b4b4b4;
  transition: 200ms;
}

.strength-bar.strong {
  width: 100%;
  background-color: #5da13d;
}
.strength-bar.okay {
  width: 50%;
  background-color: #a19f3d;
}
.strength-bar.weak {
  width: 10%;
  background-color: #a1443d;
}
